div.component{
  float:left;
  padding:1px;
  margin:3px;
  width:208px;
  height:272px;
}
div.component div.titre{
  width:200px;
  height:24px;
  padding:3px;
  color:blue;
  text-align:center;
  border:1px solid #aaa;
}
img{
  padding:2px;
  border:1px solid #ccc;
  margin:1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
input[type="text"]{
  width:200px;
  height:20px;
  padding:2px;
  font-family: Georgia;
  font-size:16px;
  padding:2px;
  margin:0px 1px;
  border:1px solid #ccc;
}
button{
  border:1px solid #333;
  padding:4px 9px;
}
textarea{
  width:300px;
  height:90px;
}
div#container{
  width:960px;
  height:600px;
  border:1px solid #CCC;
  margin:10px auto;
}
div#navigation{
  width:940px;
  height:40px;
  padding:2px;
  margin:4px;
}
div#details{
  width:950px;
  margin:4px;
  height:600px;
  float:left;
  border:1px solid #ccc;
}
div.listing{
  width:245px;
  height:400px;
  float:left;
}
div#show{
  width:700px;
  float:right;
}
.gauge {
  position:relative; width:150px; height:90px;
  border-radius:150px 150px 0 0;
  background:#41b7d8;
  -webkit-transition: background .3s;
     -moz-transition: background .3s;
      -ms-transition: background .3s;
          transition: background .3s;
}
.gauge .frame { 
  height:150px;
}
.gauge .pointer {
  width:4px; height:90%; margin-left:-2px;
  position:absolute; z-index:1; bottom:0; left:50%;
  background:white; border-radius:4px;
  box-shadow:1px 1px 3px rgba(0,0,0,.3);
  
  -webkit-transition: -webkit-transform .3s ease 0s;
     -moz-transition:    -moz-transform .3s ease 0s;
      -ms-transition:     -ms-transform .3s ease 0s;
          transition:         transform .3s ease 0s;
  
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  
  -webkit-transform-origin: bottom;
     -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}
.gauge .pointer .pointer-cap {
  width:16px; height:16px;
  margin-bottom:-8px; margin-left:-8px;
  position:absolute; bottom:0; left:50%;
  background:white; border-radius:100%;
  box-shadow:1px 1px 5px rgba(0,0,0,.3);
}
.gauge .pointer .value {
  width:60px; margin-left:-30px;
  position:absolute; top:-25px;
  font-size:10px; text-align:center;
}
.gauge .labels {
  width:100%;
  position:absolute; top:100%;
  font-size:10px; text-align:right;
}
.gauge .labels .min { float:left; }

.gauge.exceeded { background:red; }
.gauge.exceeded .value { color:red; }

.value-exceeded { 
  width:100%; 
  position:absolute; top:120px; 
  font-size:11px; color:red; text-align:center; 
}

html, body { margin:20px; font:13px/16px Arial; color:#666; background:#f1f1f1; }
.form { margin:30px 0; }
input { max-width:200px; }
label { display:block; }
