div.component{
  padding:1px;
  margin:3px;
  width:208px;
  height:272px;
}
div.component div.titre{
  width:200px;
  height:24px;
  padding:3px;
  color:blue;
  text-align:center;
  border:1px solid #aaa;
}
img{
  padding:2px;
  border:1px solid #ccc;
  margin:1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
input[type="text"]{
  width:200px;
  height:20px;
  padding:2px;
  font-family: Georgia;
  font-size:16px;
  padding:2px;
  margin:0px 1px;
  border:1px solid #ccc;
}
button{
  border:1px solid #333;
  padding:4px 9px;
}
textarea{
  width:300px;
  height:90px;
}
div#container{
  width:960px;
  height:600px;
  border:1px solid #CCC;
  margin:10px auto;
}
div#navigation{
  width:940px;
  height:40px;
  padding:2px;
  margin:4px;
}
div#details{
  width:950px;
  margin:4px;
  height:600px;
  float:left;
  border:1px solid #ccc;
}
div.listing{
  width:245px;
  height:400px;
  float:left;
}
div#show{
  width:700px;
  float:right;
}
